
@{
    ViewData["Title"] = "Index";
}

<h2>Index1</h2>

<div ng-app="myApp">
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                <div ng-view></div>
            </div>
        </div>
    </div>
</div>